li {
    position: relative;
    display: inline-block;
    padding-left: 18px;
    margin: 4px 0;
}

li::before {
    content: "●";
    position: absolute;
    left: 0;
}

main {
    text-align: center;
}

main>div {
    font-size: 6rem;
    font-weight: bold;
    color: #2980b9;
    margin-bottom: 20px;
    opacity: 0.8;
}

main>h2 {
    border: 0;
}

.btn {
    position: static;
    text-decoration: none;
    margin: 12px 30px;
}